body {
    background-image: url(/Content/black-and-white-1920x1080-21293-1984047221.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vh;
}
header {
    color: aliceblue;
    background-color: #101010da;
    text-align: center;
    border-radius: 11px;
    max-width: 950px;
}
main {
    background-color: #101010da;
    color: aliceblue;
    text-align: center;
    border-radius: 11px;
    max-width: 1000px;
}
.areaSup {
    color: aliceblue;
    text-align: center;
}
.img {
    border-radius: 11px;
}
.jogos {
    display: flex;
    justify-content: center;
    gap: 11px;
}