body {
    background-image: url(../Content/black-and-white-1920x1080-21293-1984047221.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}
header {
    color: aliceblue;
    background-color: #101010da;
    text-align: center;
    border-radius: 11px;
    max-width: 950px;
    margin: auto;
    backdrop-filter: blur(10px);
}
main {
    background-color: #101010da;
    color: aliceblue;
    text-align: center;
    border-radius: 11px;
    backdrop-filter: blur(10px);
}
.areaSup {
    color: aliceblue;
    text-align: center;
}
.img {
    border-radius: 11px;
    max-width: 100%;
    max-height: auto;
}
.jogos {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}